.App {
  background-image: url("../public/meteor_dark.jpg");
  background-repeat: repeat-x repeat-y;
  height: 100vh;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section {
  margin: 2rem 0 3rem;
}

h1 {
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 0.5rem;
}
